@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
::selection {
    color:#cc3333;
    background: #f1e2cc;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 0;
}
h1 {
    color: #2a435d;
    font-size: 3.75rem;
    font-weight: 900;
    text-transform: uppercase;
}
h2 {
    color: #2a435d;
    font-size: 3rem;
    font-weight: 700;
}
h3 {
    color: #2a435d;
    font-size: 2.25rem;
    font-weight: 700;
}
h5 {
    color: #2a435d;
    font-size: 1.5rem;
    font-weight: 700;
}
h6 {
    color: #2a435d;
    font-size: 1.125rem;
    margin-bottom: 0;
    font-weight: 700;
}
p {
    color: #2a435d;
    margin-bottom: 16px;
}
a{
    text-decoration: none;
    background-color: transparent;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-80{
    margin-bottom: 80px;
}
.pt-240{
    padding-top: 240px 
}
.pt-120{
    padding-top: 120px;
}
.pt-115{
    padding-top: 115px;
}
.pt-60{
    padding-top: 60px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-40{
    padding-bottom: 40px;
} 
.pb-60{
    padding-bottom: 60px;
} 
.pb-100{
    padding-bottom: 100px;
}

.pb-135{
    padding-bottom: 135px;
}
.p-50{
    padding: 50px 0 50px;
}

/*preLoader*/

.preloader-inner{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinners{
    text-align: center;
}
.spinners > div{
    width: 15px;
    height: 15px;
    background-color: brown;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinners .circle1{
    animation-delay: -0.32s;
}
.spinners .circle2{
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0); }
    40% {
      -webkit-transform: scale(1); } 
    }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0); }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1); } 
    }
/*header*/
header{
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px !important;
    }
}
header .logo{
    width: 140px;
    position: relative;
    z-index: 11;
}
@media (min-width: 768px) and (max-width: 991.98px){
    header .logo {
        width: 115px;
    }
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
header nav .main-menu{
    display: flex;
    justify-content: flex-end;
}
.main-menu li{
    display: inline-block;
    position: relative;
}
.main-menu2 li a {
    padding: 30px 12px;
    color: #2a435d;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

}
@media (min-width: 992px) and (max-width: 1199.98px){
    .main-menu2 li a {
        padding: 30px 8px;
    }
}
.main-menu a:hover {
   color: #cc3333 !important;
}
.mobile-menu .mean-nav .link:hover{
    opacity: 1 !important;
}

header .customer-area{
position: relative;
z-index: 0;
}
@media (min-width: 768px) and (max-width: 991.98px){
    header .header-bottom .customer-area {
        padding-left: 20px;
    }
}

header .customer-area .shopping{
    margin-right: 20px;
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: .3s;
    background-color: #cc3333;
}
header .customer-area .shopping i{
    display: block;
}

header .customer-area .counter{
    position: absolute;
    top: -6px;
    right: 18px;
    background-color: #ff9933;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
}

header .customer-area span img{
    width: 55px;
}
header .customer-area .order-content{
    color: #cc3333;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1;
}
header .customer-area .order-content .span-1{
    display: block;
    color: #2a435d;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 8px;
}
header .customer-area .order-content .span-2{
    display: block;
    color: #cc3333;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}
@media (min-width: 991px) and (max-width: 1199px) {
    header .customer-area .order-content{
        margin-left: 15px;
    }
    header .customer-area .order-content .span-2{
        font-size: 0.9375rem;
    }
}
@media (max-width: 349px){
    header .customer-area .order-content .span-2{
        font-size: 0.9375rem;
    }
}
header .customer-area .btn{
    font-weight: 400;
    border-radius: 5px;
    margin-left: 10px;

}
.btn {
    background: #cc3333;
    padding: 12px 40px;
    color: #ffffff;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn:focus {
    outline: none !important; }
.btn:focus-visible {
    outline: none !important; }
.btn:hover {
    background: transparent;
    border: 1px solid #cc3333;
    color: #cc3333; }

@media(max-width: 991px){
    header .mobile-menu{
        display: inline-block !important;
    }
}
header .mobile-menu{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.mobile-menu .mean-bar{
    background-color: transparent;
}

.mean-container a.meanmenu-reveal span {
    background: #cc3333;
}
#mobil-menu span:nth-child(1) {
    top: 0px;
  }
  
  #mobil-menu span:nth-child(2) {
    top: 18px;
  }
  
  #mobil-menu span:nth-child(3) {
    top: 36px;
  }
  #mobil-menu.open span:nth-child(1),
  #mobil-menu.open span:nth-child(3) {
    opacity: 0;
    left: -60px;
  }
  #mobil-menu.open span:nth-child(2) {
    top: 18px;
    transform-origin: left center;

  }
.mobile-menu .mean-bar .mean-nav {
    margin-top: 58px;
    background: #cc3333;
}
.mobile-menu .mean-bar .mean-nav ul{
 flex-wrap: wrap;  
}
/*promo section*/
.delivery-area {
    background: #fff8ee;
    position: relative;
    overflow: hidden;
}
.burger-promo-area {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.burger-promo-area .del-shapes img {
    width: inherit;
}
.delivery-area .del-shapes img {
    width: inherit;
}

.delivery-area .del-shapes .sp-1 {
    position: absolute;
    top: 0;
    right: 0;
}
.burger-promo-area .del-shapes .sp-1 {
    position: absolute;
    left: 0%;
    top: 0%;
}
.delivery-area .del-shapes .sp-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -53px;
    margin-bottom: -17px;
}
.burger-promo-area .del-shapes .sp-2 {
    position: absolute;
    right: -2%;
    bottom: 2%;
    margin-right: 0;
    margin-bottom: 0;
    width: 100px;
}
.delivery-area .sp-3 {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.burger-promo-area .del-shapes .sp-4 {
    position: absolute;
    left: 18%;
    top: 21%;
}
.delivery-area .del-shapes .sp-4 {
    position: absolute;
    left: 18%;
    top: 21%;
}
.delivery-area .delivery-left{
    position: relative;
}
@media (min-width: 1440px) and (max-width: 1599.98px){
    .delivery-area .delivery-left img {
        width: 113%;
        margin-left: -105px;
    }
}

.burger-promo-area .delivery-left .burger-shapes img {
    width: inherit;
}
.burger-promo-area .delivery-left .burger-shapes .sh-1 {
    position: absolute;
    right: -33%;
    top: 20%;
    width: 50px;
    }
    @media (max-width: 575.98px) {
        .burger-promo-area .delivery-left .burger-shapes .sh-1 {
        display: none; } 
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .burger-promo-area .delivery-left .burger-shapes .sh-1 {
        right: 2%; } 
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .burger-promo-area .delivery-left .burger-shapes .sh-1 {
        right: 0%; } 
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .burger-promo-area .delivery-left .burger-shapes .sh-1 {
        right: -3%; } 
    }
    @media (min-width: 1200px) and (max-width: 1439.98px) {
        .burger-promo-area .delivery-left .burger-shapes .sh-1 {
        right: 0%; } 
    }
    @media (min-width: 1600px) and (max-width: 1919.99px) {
        .burger-promo-area .delivery-left .burger-shapes .sh-1 {
        right: -58%; } 
    }

.delivery-area .delivery-left .burger-shapes .sh-2{
    position: absolute;
    right: -5%;
    width: 34px;
    top: 48%; }
    @media (max-width: 575.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-2 {
        display: none; } 
    }
    @media (min-width: 1440px) and (max-width: 1599.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-2 {
        right: -36%; } 
    }
    @media (min-width: 1600px) and (max-width: 1919.99px) {
        .delivery-area .delivery-left .burger-shapes .sh-2 {
        right: -65%; } 
    }
.delivery-area .delivery-left .burger-shapes .sh-3 {
    position: absolute;
    left: 26%;
    width: 90px; 
}
    @media (min-width: 1440px) and (max-width: 1599.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-3 {
        left: 46%;
        width: 132px; } 
    }
    @media (min-width: 1600px) and (max-width: 1919.99px) {
        .delivery-area .delivery-left .burger-shapes .sh-3 {
        left: 46%;
        width: 132px; }
    }
.delivery-area .delivery-left .burger-shapes .sh-4{
    position: absolute;
    top: 0%;
    left: -1%; 
}
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-4{
        top: -13%;
        left: -17%; } 
    }
    @media (max-width: 575.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-4 {
        display: none; }
    }
.delivery-area .delivery-left .burger-shapes .sh-5 {
    position: absolute;
    bottom: 23%;
    left: -13%;
    width: 60px;
}
    @media (max-width: 575.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-5 {
        display: none; } 
    }
    @media (max-width: 767.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-5 {
        left: -3%; }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-5 {
        left: -2%; } 
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-5 {
        left: -2%; } 
    }
    @media (min-width: 1440px) and (max-width: 1599.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-5 {
        left: 4%;
        width: 94px; }
    }
    @media (min-width: 1600px) and (max-width: 1919.99px) {
        .delivery-area .delivery-left .burger-shapes .sh-5 {
        left: 4%;
        width: 94px; } 
    }
.delivery-area .delivery-left .burger-shapes .sh-6 {
    position: absolute;
    left: 5%;
    bottom: -1%;
    width: 80px;
    z-index: 1; 
}
    @media (max-width: 575.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-6{
        display: none; } 
    }
    @media (min-width: 1440px) and (max-width: 1599.98px) {
        .delivery-area .delivery-left .burger-shapes .sh-6{
        left: 25%;
        width: 133px; } 
    }
    @media (min-width: 1600px) and (max-width: 1919.99px) {
        .delivery-area .delivery-left .burger-shapes .sh-6{
        left: 25%;
        width: 133px; } 
    }


.burger-promo-area .delivery-left .promo-img {
    margin: 0 auto;
    width: 100%;
}
    @media (min-width: 1440px) and (max-width: 1599.98px) {
      .burger-promo-area .delivery-left .promo-img {
        width: 110%; } 
    }
    @media (min-width: 1600px) and (max-width: 1919.99px) {
      .burger-promo-area .delivery-left .promo-img {
        width: 130%; } 
    }
.common-title-area h3 {
    font-family: "Caveat", cursive;
    color: #cc3333;
}
.burger-promo-area .delivery-right .common-title-area h1 span ,
.burger-promo-area .delivery-right h5 span{
    color: #cc3333;
}
.burger-promo-area .delivery-right .order-box .btn {
    margin-left: 0;
    margin-right: 50px;
}
@media (max-width: 575.98px) {
    .burger-promo-area .delivery-right .order-box .btn {
        margin-right: 7px; 
        font-size: 0.7rem;
    }
}
/*banner gallery*/
.banner-gallery2 .del-shapes .del-1 {
    position: absolute;
    left: -2%;
    top: 9%;
}
@media(max-width: 600px){
    .banner-gallery2 .del-shapes{
        display: none;
    }
}
.banner-gallery2 .del-shapes .del-2 {
    position: absolute;
    right: -2%;
    bottom: -5%;
}
.item-bounce {
   animation: bounce 3s infinite ease-in-out;
}
@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px); }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
    100% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px); } 
}
  
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px); }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
    100% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px); } 
}
/*banner fonts*/
.banner-gallery h3 {
    color: #ffffff;
    font-weight: 900;
}
.banner-gallery h5 {
    color: #ffffff;
    font-weight: 900;
}
.banner-gallery p {
    color: #ffffff;
    font-weight: 700;
}
/*gallery images*/
.banner-gallery .gallery-img{
    background: #ff9933;
    padding: 30px 20px;
    height: 270px;
    position: relative;
    overflow: hidden;
}  
.banner-gallery2 .gallery-img-1{
    background-image: url('../images/gridbg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-gallery2 .gallery-img-2{
    background-image: url('../images/gridbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-gallery2 .gallery-img-3{
    background-image: url('../images/gridbg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
.banner-gallery2 .gallery-img-4{
    background-image: url('../images/gridbg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-gallery2 .gallery-img-5{
    background-image: url('../images/gridbg5.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-gallery2 .gallery-img-6{
    background-image: url('../images/gridbg6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-gallery2 .gallery-img:hover::after
{  
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0.5; 
}
.banner-gallery2 .gallery-img:hover::before
{
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0.5; 
}
.banner-gallery2 .gallery-img::after
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #ffffff;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 90%;
    -ms-transform-origin: 90%;
    transform-origin: 90%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .banner-gallery2 .gallery-img::before
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #ffffff;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 90%;
    -ms-transform-origin: 90%;
    transform-origin: 90%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .banner-gallery2 .gallery-img{
      margin-bottom: 30px; } 
}
@media(max-width: 766.99px){
    .banner-gallery2 .gallery-img-2,
    .banner-gallery2 .gallery-img-3,
    .banner-gallery2 .gallery-img-6{
        margin-top: 2rem;
    }
}
@media(max-width: 574.99px){
    .banner-gallery2 .gallery-img-5{
        margin-top: 2rem;
    }
}
.banner-gallery .btn {
    padding: 8px 9px;
    border-radius: 8px;
}
.banner-gallery2 .btn-1{
    background: #ffffff;
    color: #cc3333;
    position: relative;
    z-index: 11;
}
.banner-gallery2 .btn-1:hover {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff; }

/*banner links*/
.banner-gallery a {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.banner-gallery2 .gallery-img-1 a {
    font-size: 0.875rem;
}
.banner-gallery .gallery-img-1 a {
    margin-top: 30px;
    transition: 0.3s;
}
.banner-gallery .gallery-img-3 a,
.banner-gallery2 .gallery-img-2 a,
.banner-gallery2 .gallery-img-4 a,
.banner-gallery2 .gallery-img-5 a {
    color: #2a435d;
    margin-top: 30px;
    display: block;
}
.banner-gallery2 .gallery-img-3 a,
.banner-gallery2 .gallery-img-2 a,
.banner-gallery2 .gallery-img-4 a,
.banner-gallery2 .gallery-img-5 a {
    font-size: 0.875rem;
    color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.banner-gallery2 .gallery-img-3 a{
    position: relative;
    z-index: 11;
}
.banner-gallery2 .gallery-img-2 a:hover,
.banner-gallery2 .gallery-img-4 a:hover {
    color: #ff9933;
}
.banner-gallery2 .gallery-img-3 a:hover,
.banner-gallery2 .gallery-img-5 a:hover {
    color: #cc3333;
}
/*banner images*/
.banner-gallery img {
    width: inherit;
}
.banner-gallery .gallery-img-1 img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
}
.banner-gallery2 .gallery-img-1 .pos1 {
    width: inherit;
    position: absolute;
    top: -10%;
    right: -8%;
}
.banner-gallery2 .gallery-img-2 .img-pos1 {
    width: inherit;
    position: absolute;
    right: -25%;
    bottom: 0; 
}
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .banner-gallery2 .gallery-img-2 .img-pos1 {
        right: -43%; } 
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .banner-gallery2 .gallery-img-2 .img-pos1 {
        right: 6%; } 
    }
    @media (max-width: 767.98px) {
      .banner-gallery2 .gallery-img-2 .img-pos1 {
        right: 0%;
        width: 57%; } 
    }
.banner-gallery2 .gallery-img-2 .img-pos2{
    width: 75px;
    position: absolute;
    bottom: -20%;
    left: 0%;
}
.banner-gallery2 .gallery-img-3 .img-pos3 {
    width: inherit;
    position: absolute;
    left: 0%;
    bottom: 0%; 
}
.banner-gallery2 .gallery-img-4 .img-pos4{
    width: inherit;
    position: absolute;
    right: -25%;
    bottom: 0%; 
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-gallery2 .gallery-img-4 .img-pos4 {
      right: -43%; } 
    }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .banner-gallery2 .gallery-img-4 .img-pos4 {
      right: 6%; } 
    }
  @media (max-width: 767.98px) {
    .banner-gallery2 .gallery-img-4 .img-pos4 {
      right: 0%;
      width: 57%; } 
    }
    @media (max-width: 767.98px) {
        .banner-gallery2 .gallery-img-4 .img-pos4 {
          width: 38%;
          position: absolute;
          right: 14%;
          bottom: 0; } 
        .banner-gallery2 .gallery-img-3 .img-pos3{
        width: 35%;
        position: absolute;
        left: 0%;
        bottom: 0%; 
        }
        }
.banner-gallery2 .gallery-img-4 .img-pos5{
    width: 75px;
    position: absolute;
    left: 0%;
    bottom: -20%;
}
.banner-gallery2 .gallery-img-5 .img-pos6{
    width: inherit;
    position: absolute;
    left: 0%;
    bottom: 0%;
}        
@media (max-width: 767.98px) {
    .banner-gallery2 .gallery-img-5 .img-pos6 {
      width: 41%; } 
    }
.banner-gallery2 .gallery-img-5 .img-pos7{
    width: inherit;
    position: absolute;
    left: -20%;
    top: 7%;
}        
.banner-gallery2 .gallery-img-6 .pos2{
    width: inherit;
    position: absolute;
    left: -7%;
    bottom: -16%;
}        
.banner-gallery2 .gallery-img-6 .pos3{
    width: 20%;
    position: absolute;
    right: 27%;
    top: 10%;
}

/*price span*/
.banner-gallery .price {
    background: #cc3333;
    color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: absolute;
    right: 11%;
    bottom: 40%;
}    
.banner-gallery2 .gallery-img-2 .price-1{
    position: absolute;
    right: 11%;
    bottom: 58%;
}
.banner-gallery2 .gallery-img-3 .price-2{
    position: absolute;
    top: 60%;
    left: 42%;
}
.banner-gallery2 .gallery-img-4 .price-3{
    position: absolute;
    top: 11%;
    right: 12%;
}
.banner-gallery2 .gallery-img-5 .price-4{
    position: absolute;
    bottom: 18%;
    left: 32%;
}
/*menu area*/
.home2-menu-area {
    position: relative;
    overflow: hidden;
}
.menu-area .menu-shape-1{
    position: absolute;
    right: -1%;
    bottom: 20%;
}
.menu-area .menu-shape-2{
    position: absolute;
    right: 1%;
    bottom: 38%;
}
.menu-area .menu-shape-3{
    position: absolute;
    right: 1%;
    top: 10%;
}
.menu-area .menu-shape-4{
    position: absolute;
    left: 1%;
    top: 10%;
    z-index: -1;
}
.menu-area .menu-shape-5{
    position: absolute;
    left: 0%;
    bottom: 34%;
}
@media (max-width: 767.98px){
    .menu-area .menu-shapes {
    display: none;}
    }
.common-title-area h2{
    font-weight: 900;
}
@media(max-width: 380.99px){
    .common-title-area h2{
        font-size: 2rem;
        font-weight: 600;
    }
}
.common-title-area h2 span {
    color: #cc3333;
}
@media (max-width: 991.98px){
    .menu-area .menu-nav-wrapper .nav {
        justify-content: center;
    }
}

.menu-nav-wrapper .single-menu-nav {
    width: 150px;
    height: 150px;
    padding: 25px 30px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu-nav-wrapper .single-menu-nav {
      width: 120px;
      height: 130px;
      } 
    }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .menu-nav-wrapper .single-menu-nav {
      width: 120px;
      height: 130px; } 
    }
  @media (max-width: 767.98px) {
    .menu-nav-wrapper .single-menu-nav {
      width: 120px;
      height: 130px; } 
    }
.menu-nav-wrapper .single-menu-nav .menu-img {
    position: static;
    z-index: 1;
}
.menu-nav-wrapper .single-menu-nav .menu-img img{
    width: 80%;
}
.menu-nav-wrapper .single-menu-nav h6 {
    position: static;
    z-index: 1;
    transition: 0.5s; 
}
.menu-area .menu-nav-wrapper a.active .single-menu-nav h6 {
    color: #ffffff;
    transition: 0.5s; 
}
.menu-nav-wrapper .single-menu-nav .bg-1 {
    position: absolute;
    bottom: 0;
    right: -26px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.menu-area .menu-nav-wrapper a.active .single-menu-nav .bg-1{
    position: absolute;
    bottom: 0;
    right: -26px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.menu-nav-wrapper .single-menu-nav .bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.menu-area .menu-nav-wrapper a.active .single-menu-nav .bg-2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.menu-nav-wrapper .single-menu-nav .bg-1 img,
.menu-nav-wrapper .single-menu-nav .bg-2 img{
    width: 72%;
}
.menu-area .menu-nav-wrapper a.active .single-menu-nav .bg-1 img,
.menu-area .menu-nav-wrapper a.active .single-menu-nav .bg-2 img{
    width: 72%;
}
.single-menu-nav::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #cc3333;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; 
}
  .single-menu-nav:hover .bg-1 {
    opacity: 1;
    visibility: visible; 
}
  .single-menu-nav:hover .bg-2 {
    opacity: 1;
    visibility: visible; 
}
  .single-menu-nav:hover::after {
    visibility: visible;
    opacity: 0.9;
    z-index: -1; 
}
  .single-menu-nav:hover h6 {
    color: #ffffff; 
}
.menu-area .menu-items-wrapper .menu-i-shapes .item-shape-1 {
    position: absolute;
    right: 37%;
    top: 35%;
}
.home2-menu-area .menu-items-wrapper .menu-i-shapes .item-shape-1 {
    position: absolute;
    right: 32%;
    top: 35%;
    width: 58px;
}
.menu-area .menu-items-wrapper .menu-i-shapes img {
    width: 75px;
}
.menu-area .menu-items-wrapper {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(39 53 160 / 10%);
    box-shadow: 0px 0px 10px 0px rgb(39 53 160 / 10%);
    position: relative;
}
.home2-menu-area .menu-items-wrapper {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.menu-area .menu-items-wrapper .single-menu-item {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
}    
.menu-area .menu-items-wrapper .single-menu-item:hover {
    -webkit-box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
    box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
    border: 1px solid transparent; 
}
.single-menu-item .menu-img {
    margin-right: 20px;
}    
.single-menu-item .menu-img img {
    width: 100px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 58% 42% 49% 51% / 63% 55% 45% 37%;
}    
.single-menu-item .menu-content h5 a {
    color: #2a435d;
    font-weight: 800;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}    
.single-menu-item .menu-content h5 a:hover{
    color: #cc3333;
}    
.single-menu-item .menu-content p {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}    
.single-menu-item .menu-content span {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.125rem;
    color: #2a435d;
    text-transform: capitalize;
}
.single-menu-item .menu-content span del{
    font-weight: 600;
}    
.menu-area .menu-nav-wrapper a.active .single-menu-nav::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #cc3333;
    visibility: visible;
    opacity: 0.9;
    z-index: -1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  
  .menu-area .menu-nav-wrapper a.active .single-menu-nav h6 {
    color: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; 
}
@media (min-width: 768px) and (max-width: 991.98px){
    .single-menu-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
/*best quality*/      
.best-quality {
    background: #fffcf5;
    position: relative;
}
.best-quality .best-shapes .bs-1 {
    position: absolute;
    left: 0%;
    bottom: 0%;
}
.best-quality .best-shapes .bs-2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.best-quality .best-shapes img {
    width: inherit;
}
.best-quality .ingredients {
    position: relative;
}
.best-quality .ingredients .bs-3{
    position: absolute;
    top: 4%;
    right: -86%;
    z-index: 1;
}
.best-quality .ingredients .bs-4{
    position: absolute;
    bottom: -59%;
    left: 41%;
    z-index: 1;
}        
.best-quality .ingredients .bs-5{
    position: absolute;
    bottom: -58%;
    left: -83%;
    z-index: 1;
}    
.best-quality .ingredients .bs-6{    
    position: absolute;
    bottom: -119%;
    left: -37%;
    z-index: 1;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .best-quality .ingredients .ind-shape3 {
      bottom: -54%;
      left: -54%; } 
    }

.best-quality .ingredients-img img {
    width: inherit;
}                    
@media (min-width: 768px) and (max-width: 991.98px) {
    .best-quality .ingredients-img img {
      width: 100%; } 
    }
@media (max-width: 767.98px) {
    .best-quality .ingredients-img img {
      width: 100%; } 
    }
/* delivery section*/

.delivery-area2{
    background: inherit;
    position: relative;
}